html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.mains {
    max-width: 1440px;
    margin: 0 auto;
}

.conteiner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

/* -----------------header */
.constuct {}

.constuct-title {
    background-image: url(../images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 769px;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.constuct-logo {
    margin-bottom: 298px;
}

.h1_title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    letter-spacing: 5.6px;
    margin-left: 12px;
}

.h4_title {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 216px;
    font-size: 16px;
    line-height: 19px;
}

.text-button {
    color: rgba(255, 255, 255, 1);
    font-style: Semibold;
    font-size: 11px;
    letter-spacing: 3px;
    text-align: center;
}

/* ------------navbar */
.navbar {
    padding: 21px 0;
    border-bottom: solid 1px rgba(230, 230, 230, 1);
    ;
}

.navbar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-navbar ul li a {
    text-transform: uppercase;
    list-style: none;
    font-weight: 400;
    color: rgba(72, 85, 91, 1);
    font-size: 12px;
    letter-spacing: 1.09px;
    transition: color 0.3s ease;
}

.right-navbar ul li a:hover {
    color: rgba(0, 164, 229, 1);
    text-shadow:
        0.5px 0 0 rgba(0, 164, 229, 1),
        0 0.5px 0 rgba(0, 164, 229, 1);
}

.navbar-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}


@media(max-width: 1024px) {
    .navbar-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 600px) {
    .navbar-menu {
    display: flex;
    flex-direction: column;
}
}

/* -----------------story */
.story {
    margin-bottom: 118px;
}

.story-title_2 {
    color: #48555B;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 54px 0;
    letter-spacing: 2.31px;
}

.story-title_2:after {
    content: " ";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}

.story-inner {
    display: flex;
    justify-content: space-between;

}

.story_left {
    max-width: 398px;
    margin-right: 50px;
}

.story-title_3 {
    font-weight: bold;
    font-size: 20px;
    color: #48555B;
    margin-bottom: 30px;
}

.accent-color {
    color: #16ACE8;
}

.story-text {
    color: rgba(72, 85, 91, 1);
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.19px;
}

.story_right {
    display: flex;
    align-items: flex-end;

}

.story_item {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    width: 140px;
    height: 224px;
    margin-right: 20px;
    padding: 15px;
}

.story_item:nth-child(1) {
    background-image: url(../images/we_plan.png);
    background-position: 95% 5%;
}

.story_item:nth-child(2) {
    background-image: url(../images/we_manage.png);
    background-position: 37% 5%;
}

.story_item:nth-child(3) {
    background-image: url(../images/we_build.png);
    background-position: 63% 5%;
    margin-right: 0;
}

@media(max-width: 1440px) {
    .story-inner {
    display: flex;
    justify-content: space-around;

}
.story_right {
    display: flex;
    align-items: flex-end;

}
     
}

@media(max-width: 1024px) {
    .story-inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.conteiner {
    padding: 0 0px;
}

    .story-inner {
        flex-wrap: wrap;
    }
}

@media(max-width: 500px) {
    .story_right {
        flex-direction: column;

    }

    .story_item {
        margin-top: 10px;
        margin-right: 0;
    }
}

/* ---------------services */
.services {
    margin-bottom: 115px;
}

.top-title-text {
    display: flex;
    margin-bottom: 50px;
}

.services-title2 {
    color: rgba(72, 85, 91, 1);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.31px;
    text-align: left;
    margin-right: 154px;
}

.services-title2::after {
    content: " ";
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 13px 0;
}

.services-text {
    max-width: 405px;
    color: rgba(72, 85, 91, 1);
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-right: 31px;
}

.services-border {
    border: solid 1px #E6E6E6;
    width: 295px;
    height: 330px;
    padding: 38px 23px;
}

.services-btn {
    width: 150px;
    height: 40px;
    padding: 11px auto;
    background-color: #00A4E5;
    border: none;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
}

.bottom-tile {
    display: flex;
    gap: 28px;
}

.services-border>img {
    margin-bottom: 20px;
}

.services-title3 {
    width: 250px;
    height: 48px;
    color: rgba(72, 85, 91, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.43px;
    margin-bottom: 13px;
}

.tile-text {
    color: rgba(72, 85, 91, 1);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.19px;
}

/* ----------------touch */
.touch {
    background-image: url(../images/img-touch.png);
    min-height: 499px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;

    padding: 120px 0;
}

.touch-h2 {
    color: rgba(72, 85, 91, 1);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin: 0 auto 35px;
    width: 350px;
    height: 72px;
}

/* -----------------Newsletter */
.newsletter {
    min-height: 100px;
    background: rgba(23, 24, 25, 1);
}

.newsletter_items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

}

.newsletter_items>input {
    width: 250px;
    height: 40px;
    text-align: center;
    border: none;
}

.newsletter-h3 {
    margin-right: 70px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.85px;
}

/* -----------social */
.footer {
    background: rgba(20, 26, 32, 1);
    padding: 40px 0;

}

.footer-items {
    display: flex;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 39px;
}

h5 {

    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.85px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.company-h5 {
    margin-bottom: 15px;
}

.company {
    margin-right: 71px;
}

.company>img {
    margin-bottom: 15px;
}

.company>p {
    width: 250px;
    height: 76px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
}

.links {
    margin-right: 10px;
}

.links-item1 {
    margin-right: 46px;
    display: flex;
    gap: 34px;
}

.links-item1>ul>li>a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.85px;
}

.links-item1>ul>li>a:hover {
    color: rgba(0, 164, 229, 1);
    text-shadow:
        0.5px 0 0 rgba(0, 164, 229, 1),
        0 0.5px 0 rgba(0, 164, 229, 1);
    cursor: default;
}

.footer-link {
    width: 76px;
    height: 125px;
}

.footer-link2 {
    width: 52px;
    height: 75px;
}

.footer-link3 {
    width: 62px;
    height: 75px;
}

.contact-item {
    width: 141px;
    height: 128px;
}

.contact-item>p {
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.85px;
    text-align: left;
    margin-bottom: 12px;
}

.contact-item>a {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.85px;
    text-align: left;
    margin-bottom: 20px;
}

.footer-link2 {
    margin-right: 5px;
}

.socials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
    margin-left: 47px;
    width: 87px;
    height: 13px;
    padding-top: 25px;
}

.socials>a>img:hover {
    transform: scale(1.2);
    cursor: default;


}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.85px;
    padding: 22px 0 22px;
}